<div class="container">
  <div class="box3">
    <h2>本当に退会しますか？</h2>
     <p>
      退会すると、会員登録情報や、<br>
      これまでの購入履歴が閲覧できなくなります。<br>
      大会する場合は、「退会する」をクリックしてください。
     </p>
      <%= link_to public_customers_withdraw_path, method: :patch, data: { confilm: "本当に退会しますか？" } do %>
       <h3 class="btn btn-success">退会する</h3>
       <% end %>
       
       <%= link_to public_customers_path do %>
       <h3 class="btn btn-success">退会しない</h3>
       <% end %>
  </div>
</div>
