<div class="container">
  <h1>会員一覧</h1>
  <div class="row">
    <table>
      <thead>
        <tr>
          <th width="100">会員ID</th>
          <th width="150">氏名</th>
          <th width="250">メールアドレス</th>
          <th width="150">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <th><%= customer.id %></th>
          <th><%= customer.name %></th>
          <th><%= customer.email %></th>
          <th>
            <% if customer_active? %>
              有効
            <% else %>
              大会
            <% end %>
          </th>
        </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>